doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Magus Kereső
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/index.css', rel='stylesheet')
    body
        block content
        script(src='js/jquery-3.1.1.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/lodash.min.js')
        script(src='js/index.js')